<div class="y-new-comment">
  <form class="y-form y-new-comment__form">
    <div class="y-field">
      <label>Comment</label>
        {{input type="text" value=comment}}
    </div>

    <div class="y-form__button">
      <button {{action 'submit'}} class="btn success">Ask Question</button>
    </div>
  </form>
</div>