{{render 'navigation'}}

<div class="row">
  <div class="small-12">
    <div class="y-page">
      <div class="y-page__description">
        <a href="http://en.wikipedia.org/wiki/Situation_puzzle">Situation puzzle</a> &mdash;
        Situation puzzles are usually played in a group, with one person hosting the puzzle and
        the others asking questions which can only be answered with a "yes" or "no" answer.
        Depending upon the settings and level of difficulty, other answers, hints or simple
        explanations of why the answer is yes or no, may be considered acceptable. The puzzle is
        solved when one of the players is able to recite the narrative the host had in mind, in
        particular explaining whatever aspect of the initial scenario was puzzling.
      </div>

      <div class="y-page__content">
          {{outlet}}
      </div>
    </div>
  </div>
</div>


