<div class="y-puzzles">
  <ul class="y-puzzles__ul">
      {{#each}}
        <li class="y-puzzles__li">
            {{#link-to 'puzzle' this}}
                {{title}}
            {{/link-to}}
        </li>
      {{/each}}
  </ul>
</div>
