<div class="y-puzzles">
  <ul class="y-puzzles__ul">
      {{#each}}
        <li class="y-puzzles__li">
          <div class="y-puzzles__title">
              {{#link-to 'puzzle' this}}
                  {{fa-icon "puzzle-piece"}} {{title}}
              {{/link-to}}
          </div>

          <div class="row">
            <div class="small-10 columns">
              <div class="y-puzzles__description">
                  {{description}}
              </div>
            </div>
            <div class="small-2 columns">
              <div class="y-puzzles__proceed">
                  {{#link-to 'puzzle' this}}
                    Read More
                  {{/link-to}}
              </div>
            </div>
          </div>
        </li>
      {{/each}}
  </ul>

  <div class="y-puzzles__new">
      {{#link-to 'puzzles.new' classNames="button success radius"}}
        New Puzzle
      {{/link-to}}
  </div>
</div>
