<div class="y-puzzles">
  <ul class="y-puzzles__ul">
      {{#each}}
        <li class="y-puzzles__li">
            {{#link-to 'puzzle' this}}
                {{title}}
            {{/link-to}}
        </li>
      {{/each}}
  </ul>

  <div class="y-puzzles__new">
    {{#link-to 'puzzles.new' classNames="button success"}}
      New Puzzle
    {{/link-to}}
  </div>
</div>
