<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
          {{#link-to 'home'}}Yes/No Puzzle{{/link-to}}
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li>
          {{#link-to 'home'}}Home{{/link-to}}
      </li>
    </ul>
  </section>
</nav>